@* Generator: Template TypeVisibility: Public GeneratePrettyNames: True *@

@using Xtricate.Web.Dashboard.Pages
@inherits Xtricate.Web.Dashboard.WebTemplate
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Name</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.To("/css")" />
    @if (Stylesheets != null && Stylesheets.Any())
    {
        foreach (var stylesheet in Stylesheets)
        {
            <link rel="stylesheet" href="@stylesheet" />
        }
    }
    <script src="@Url.To("/js")" type="text/javascript"></script>
    @if (Scripts != null && Scripts.Any())
    {
        foreach (var script in Scripts)
        {
            <script src="@script" type="text/javascript"></script>
        }
    }
</head>
<body>
    <div id="wrapper">
        @Html.Include(new HeaderPartial())
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>
    @Html.Include(new FooterPartial())
    @if (TypeScripts != null && TypeScripts.Any())
    {
        foreach (var script in TypeScripts)
        {
            <script src="@script" type="text/typescript"></script>
        }
    }
    <script src="@Url.To("/ts")" type="text/javascript"></script>
</body>
</html>